.App {
	text-align: center;
	display: flex;
	overflow-wrap: normal;
}

/* .App-header {
	
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 0px 10px;
} */
